ul.key-value-list {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    gap: 0.5rem;
    width: 100%;

    & li {
        display: flex;

        & span {
            display: inline-block;

            &.key {
                width: 10em;
            }

            &.value {
                flex-grow: 1;
                text-align: right;
            }
        }
    }
}