.row {
    --space: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: var(--space);
}

.row > * {
    flex-grow: 0;
    flex-shrink: 0;
}

.row + .row {
    margin-top: var(--space)
}
