& ul.image-list-thumbnails.list-view {
    display: flex;
    flex-direction: column;
    gap: var(--content);
    width: 100%;
    list-style: none;
    padding-left: 0;

    & li {
        width: 100%;
        display: flex;
        align-items: center;
        gap: var(--content);

        & img {
            flex-grow: 0;
        }

        & span {
            flex-grow: 1;
        }

        & .button-row {
            flex-grow: 0;
        }
    }
}

& ul.image-list-thumbnails.tile-view {
    display: grid;
    grid-template-columns: repeat(auto-fill, 128px);
    gap: var(--content);
    width: 100%;
    list-style: none;
    padding-left: 0;

    & li {
        position: relative;

        & img {
            display: block;
        }

        & .status-chip {
            position: absolute;
            left: 0;
            top: 0;
            font-size: 0.75em;
            word-break: break-word;
        }

        & .button-row {
            position: absolute;
            right: 0;
            bottom: 0;
        }
    }
}
