/* Fonts */

@font-face {
    font-family: 'tiny-hands';
    src: url(./resources/BFTinyHand-Regular.otf) format("opentype");
}

/* Base reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
}

:root {
    font-size: 16px;
    --spacer: 1rem;
}

/* List reset */

ul, ol {
    list-style-type: none;
}

/* Form and label reset */

label {
    display: block;
}

/* Typography */

body, input, button, select, textarea {
    /*font-family: "tiny-hands";*/
    font-family: sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 3.177rem;
}

h2 {
    font-size: 2.618rem;
}

h3 {
    font-size: 1.963rem;
}

h4 {
    font-size: 1.618rem;
}

h5 {
    font-size: 1.214rem;
}

.bigger {
    font-size: 1.214em;
}

.smaller {
    font-size: .75em;
}

/* Forms */

input[type=radio] {
    width: 1rem;
    height: 1rem;
}

input[type=radio] + input[type=radio] {
    margin-left: 1rem;
}

button {
    min-width: 5rem;
}

/* Custom form components */

.radio-group {
    height: 100%;
    display: flex;
    align-items: center;
}

/* Application specific */

:root {
    --jaunty-mild: rotate(-11.25deg);
    --jaunty-mild-alt: rotate(11.25deg);
}

header {
    margin-bottom: 2rem;
}

.main {
    width: 100%;
    max-width: 60em;
    margin: 2rem auto;
}

.board-section {
    width: 50%;
    flex-basis: 50%;
    max-width: calc(60ch - var(--space));
}

.section-heading {
    text-transform: capitalize;
}

.jaunty {
    transform: var(--jaunty-mild);
}

.jaunty-alt {
    transform: var(--jaunty-mild-alt);
}

/* Row classes, based on stack but horizontal rather than vertical */

.row {
    --space: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row > * {
    flex-grow: 0;
    flex-shrink: 0;
}

.row + .row {
    margin-top: var(--spacer)
}

.row > * + * {
    margin-left: var(--space);
}

/* Layout utilities */

.flex-filler {
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}

ul.todos-list {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    & li {
        display: flex;
        align-items: center;
        gap: 1rem;

        & :first-child {
            flex-basis: 20em;
        }

        & :nth-child(2) {
            flex-basis: 5em;
        }
    }
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
}

p.todo-category {
    text-transform: capitalize;
}
