/* Fonts */

@font-face {
    font-family: 'tiny-hands';
    src: url(./resources/BFTinyHand-Regular.otf) format("opentype");
}

/* Base reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
}

:root {
    font-size: 16px;
    --spacer: 1rem;
}

ul, ol {
    list-style-type: none;
}

label {
    display: block;
}

body, input, button, select, textarea {
    /*font-family: "tiny-hands";*/
    font-family: sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 1.618rem;
}

h2,
h3,
h4,
h5 {
    font-size: 1.214rem;
}

.bigger {
    font-size: 1.214em;
}

.smaller {
    font-size: .75em;
}

/* Custom properties */

:root {
    --light-paper: hsl(0, 0.5%, 95%);
    --light-ink: hsl(215, 100%, 15%);
    --containers: 2rem;
    --components: 1.5rem;
    --content: 1rem;
}

/* Application specific */

body {
    background-color: var(--light-paper);
    color: var(--light-ink);
}

#root {
    width: 100%;
    max-width: 60em;
    margin: var(--containers) auto;
}

.main {
    width: 100%;
}

/* Row classes, based on stack but horizontal rather than vertical */

.row {
    --space: 1.5rem;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.row > * {
    flex-grow: 0;
    flex-shrink: 0;
}

.row + .row {
    margin-top: var(--spacer)
}

.row > * + * {
    margin-left: var(--space);
}

/* Layout utilities */

.flex-filler {
    flex-grow: 1;
    flex-shrink: 1;
}

.flex-wrap {
    flex-wrap: wrap;
}


ul.plan-list.list-view {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--content);

    & li {
        display: flex;
        align-items: center;
        gap: var(--content);

        & > :first-child {
            flex-basis: 20em;
            flex-grow: 1;
            flex-shrink: 0;
        }

        & > :nth-child(2),
        & > :nth-child(3) {
            flex-basis: 4em;
            text-transform: capitalize;
        }

        & > :nth-child(4) {
            flex-basis: 8em;
        }

    }
}

ul.plan-list.tile-view {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(10em, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(10em, 1fr));
    flex-direction: column;
    gap: var(--content);

    & li {
        padding: 0.5rem;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        gap: var(--content);
        border: solid 0.0625rem black;
        aspect-ratio: 1 / 1;

        &.wide {
            aspect-ratio: 21 / 10;
            grid-column: span 2;
        }

        &.tall {
            aspect-ratio: 10 / 21;
            grid-row: span 2;
        }

        & > :first-child {
            flex-grow: 0;
            flex-shrink: 0;
        }

        & > :nth-child(2) {
            flex-grow: 1;
            text-transform: capitalize;
        }

        & > :last-child(4) {
        }

    }
}

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: var(--content) 0;
    border-block-end-width: 0.25rem;
    border-block-end-style: solid;
}

.button {
    min-width: 6ch;
    padding: 0.25rem 1rem;
}

.button-row {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 0.5rem;
}

.form-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

select[name="priority"] {
    text-transform: capitalize;
}

div.map-wrapper {
    position: relative;
    width: 100%;
    height: 50vh;
}

div#map-container {
    background-color: black;
    width: 100%;
    height: 50vh;
}

div.map-wrapper button {
    position: absolute;
    top: 1rem;
    left: 1rem;
}

div.map-wrapper div.map-center {
    position: absolute;
    top: calc(50% - 0.5rem);
    left: calc(50% - 0.5rem);
    width: 1rem;
    height: 1rem;
    border: 0.2rem solid white;
    border-radius: 50%;
}
