/* Base reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    min-width: 0;
    min-height: 0;
}

ul, ol {
    padding-left: var(--content);
}

label {
    display: block;
}

body, input, button, select, textarea {
    /*font-family: "tiny-hands";*/
    font-family: sans-serif;
    font-size: 1rem;
}

h1 {
    font-size: 1.618rem;
}

h2,
h3,
h4,
h5 {
    font-size: 1.214rem;
}

button {
    cursor: pointer;
}

/* Custom properties */

:root {
    font-size: 16px;
    --spacer: 1rem;
    --light-paper: hsl(0, 0.5%, 95%);
    --light-ink: hsl(215, 100%, 15%);
    --light-button-background-color: hsl(240, 80%, 70%);
    --light-button-color: hsl(0, 0.5%, 95%);
    --containers: 2rem;
    --components: 1.5rem;
    --content: 1rem;
}

/* Application specific */

body {
    background-color: var(--light-paper);
    color: var(--light-ink);
}

#root {
    width: 100%;
    max-width: 63em;
    margin: var(--containers) auto;
}

#root > * {
    padding: 0 var(--components);
}

.main {
    width: 100%;
}

select[name="priority"] {
    text-transform: capitalize;
}

/* Amplify auth forms */

.amplify-tabs {
    border: 1px solid var(--light-ink);
    max-width: 20rem;
    margin: 0 auto;
    background-color: var(--light-paper);

    & .amplify-tabs__list {
        display: flex;

        & button {
            appearance: none;
            flex-basis: 50%;
            padding-top: 1rem;
            border: none;
            padding-bottom: 1rem;

            &.amplify-tabs__item {
                background-color: var(--light-button-background-color);
                color: var(--light-button-color);
            }

            &.amplify-tabs__item--active {
                background-color: var(--light-paper);
                color: var(--light-ink);
                cursor: auto;
            }
        }
    }

    & .amplify-tabs__panel {
        padding: var(--content);

        & form {
            & button {
                appearance: none;
                border: none;
                background-color: var(--light-button-background-color);
                color: var(--light-button-color);

                &[type="submit"] {
                    padding: 0.25rem 1rem;
                    width: 100%;
                }
            }

            & .amplify-button--link {
                margin-top: 1rem;
                appearance: none;
                border: none;
                text-decoration: underline;
                background-color: transparent;
                color: var(--light-ink);
                padding: 0;
            }

            & > .amplify-flex {
                display: flex;
                gap: var(--content);
                padding-top: var(--content);
            }
        }

        & .amplify-visually-hidden {
            display: none;
        }

        & fieldset {
            border: none;

            &.amplify-flex,
            &.amplify-flex > .amplify-flex:not(.amplify-textfield) {
                display: flex;
                flex-direction: column;
                gap: var(--components);
            }
        }

        & .amplify-textfield {
            display: flex;
            flex-direction: column;
            gap: calc(var(--content) / 2);

            & input {
                width: 100%;
            }
        }

        & .amplify-passwordfield {
            & .amplify-field-group--horizontal {
                display: flex;
            }

            & button {
                height: 1.4rem;

                & svg {
                    height: 1em;
                    margin-top: 2px;
                }
            }

            & .amplify-field-group__field-wrapper--horizontal {
                flex-basis: calc(100% - 2rem);
                flex-grow: 1;
            }
        }
    }

    & .amplify-button__loader-wrapper {
        & .amplify-loader {
            display: none;
        }
    }
}