.stack {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.stack.content {
    gap: var(--content);
}

.stack.containers {
    gap: var(--containers);
}

.stack.components {
    gap: var(--components);
}
